/* *{
  border: dashed 2px blue;
} */
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

/*Logo Style*/
.wcio-logo {
  background-color: #2E3047;
  padding: 100px 350px;
}

.wcio-logo h1{
  color: #3BBA9C;
  font-size: 100px;
  margin: auto;
  border: 2px solid white;
  text-align: center;
  padding-left: 85px;
  padding-right: 85px;
}

/*Restriction List styles*/
.restrictions {
  background-color: #707793;
  margin: auto;
  padding: 30px 300px;
  color: white;
}

.restrictions h2{
  font-size: 45px;
  text-align: center;
  margin: auto;
  background-color: #43455c;
}

.restriction-options-container {
  font-size: 25px;
  padding: 20px 200px 20px 200px;
  display: flex;
  justify-content: space-between;
}

.search {
  text-align: center;
}

.search button {
  text-align: center;
  font-size: 25px;
  background-color: #2E3047;
  color: #3BBA9C;
  /* padding: 5px 40px 5px 40px;*/
  width: 200px;
}

/*Restaurant list style*/
.restaurant-list {
  background-color:  #43455c;
  padding: 30px 300px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: auto;
}

.restaurant-list h2{
  margin: auto;
  color: #3BBA9C;
  font-size: 35px;
}

.restaurant-list a{
  text-decoration: none;
  color: white;
}
.restaurant-list a:visited {
  text-decoration: none;
  color: white;
}

.restaurant-list a:hover {
  color:#3BBA9C;
  font-size: 22px;
  transition: .5s color;
  /* transition-property: color;
  transition-duration: .5s; */
}

/*Results Page Styles*/
/* .back-to-results { */
  /* background-color: #2E3047; */
  /* color: #3BBA9C; */
  /* padding: 5px 40px 5px 40px;
  text-align: center;
  margin: 3px;

}
.back-to-results a{
  background-color: #2E3047;
  text-decoration: none;
  color: #3BBA9C;
  font-size: 25px;
  padding: 5px 40px 5px 40px;
  border: .5px solid white;
} */

/*Results Container styles*/
.restaurant-info-container {
  background-color:  #43455c;
  padding: 30px 300px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.restaurant-info-container h3{
  color: #3BBA9C;
  /* font-size: 20px; */
  margin-bottom: 5px;
  margin-top: 5px;
}

/*Results Styles*/
.results h3{
  font-size: 30px;
}
.results {
  width: 490px;
  padding: 5px;
}

.results li {
  font-size: 28px;
}

.menu-item-description {
  font-weight: 100;
  font-size: 15px;
  font-style: italic;
}

.special-instructions{
  color: #3BBA9C;
  font-weight: 500;
  font-size: 15px;
  font-style: italic;
}

.menu-item-tags span {
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  background-color: lightgrey;
  color: black
}

/*Sidebar Styles*/
.sidebar {
  width: 300px;
  padding: 5px;
}

.map-container{
  width: 100%;
  height: 250px;
}

#map{
  width: 100%;
  height: 100%;
}

#map h3 a {
  font-size: 16px;
  text-decoration: none;
  color: #3BBA9C;
}

#map h3 a:visited {
  font-size: 16px;
  text-decoration: none;
}

#map h3 a:hover {
  font-size: 18px;
}
/* #map a {
  text-decoration: none;
  font: Helvetica;
} */

.sidebar div{
  font-weight: 100;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidebar h3 {
  font-size: 23px;
}
.full-address p {
  margin: auto;
}

.hide {
  display: none;
}
